<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Subscribed</title>
    <style media="screen">
      body{
        background-color : #FFE700 ;
      }
      p{
        color : #097616;
        font-size : 20px;
      }
    </style>
  </head>
  <body>
    <h2>Congrats!!</h2>
    <p>Your subscription is Successfull!! :)</p>
    <p style="color: #C70039;">Have a nice day!!</p>
    <hr>
    <form action="{% url 'home' %}">
      <input type="submit" value="Home">
    </form>
  </body>
</html>
